<h1>States</h1>
<% @states.each do |state| %>
  <p>Name: <%= state.name %></p>
  <p>Number of Parks: <%= state.number_of_parks %></p>
  <p>Mountainous Terrain: <%= state.mountainous_terrain %></p>
<% end %>